div{
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
 }

#uno{
    background-color: blueviolet;
    border: 2px dotted black;
}

#dos{
    background-color: gray;
    border-bottom: 2px solid red;
}